[package]
name = "black-box-factory"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
black-box = { path = "../black-box/" }
